In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
#call csv file then use inbuilt function read_csv( ) which define in pandas
#library
df=pd.read_csv("advertising.csv") #df user defined object (data frame)

#.1 Series : 1D array
#2. DataFrame : 2D array

In [8]:
print(Df)

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [5]:
import os

In [7]:
os.getcwd() # show path where all jupyter file store in this file

'C:\\Users\\Admin'

In [12]:
#read_csv( ) : inbuilt function , to call csv files (comma separated values)
#csv files to store data in tabular form means to hold data in the form of 
#rows and columns form
car=pd.read_csv("automobile_data.csv")
#car user defined object which hold all datas of automobile_data.csv
#which is tabular formatcar=pd.read_csv("Automobile_data.csv")

In [15]:
car # to show data ,we can write also like print(car)

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [17]:
car.head()
#head() inbuilt function : to display first 5 rows

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [18]:
car.head(10)
#head() inbuilt function : to display first 10 rows

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
5,2,?,audi,gas,sedan,fwd,front,66.3,53.1,ohc,136,110,19,25,15250
6,1,158,audi,gas,sedan,fwd,front,71.4,55.7,ohc,136,110,19,25,17710
7,1,?,audi,gas,wagon,fwd,front,71.4,55.7,ohc,136,110,19,25,18920
8,1,158,audi,gas,sedan,fwd,front,71.4,55.9,ohc,131,140,17,20,23875
9,0,?,audi,gas,hatchback,4wd,front,67.9,52.0,ohc,131,160,16,22,12000

In [19]:
# to show last 5 records the we use tail() inbuilt function
car.tail()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [21]:
# to show last 15 records the we use tail() inbuilt function
car.tail(15)

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
190,3,256,volkswagen,gas,hatchback,fwd,front,64.0,51.4,ohc,109,90,24,29,9980
191,0,?,volkswagen,gas,sedan,fwd,front,66.9,55.1,ohc,136,110,19,24,13295
192,0,?,volkswagen,diesel,sedan,fwd,front,66.9,55.1,ohc,97,68,33,38,13845
193,0,?,volkswagen,gas,wagon,fwd,front,66.9,55.1,ohc,109,88,25,31,12290
194,-2,103,volvo,gas,sedan,rwd,front,67.2,56.2,ohc,141,114,23,28,12940
195,-1,74,volvo,gas,wagon,rwd,front,67.2,57.5,ohc,141,114,23,28,13415
196,-2,103,volvo,gas,sedan,rwd,front,67.2,56.2,ohc,141,114,24,28,15985
197,-1,74,volvo,gas,wagon,rwd,front,67.2,57.5,ohc,141,114,24,28,16515
198,-2,103,volvo,gas,sedan,rwd,front,67.2,56.2,ohc,130,162,17,22,18420
199,-1,74,volvo,gas,wagon,rwd,front,67.2,57.5,ohc,130,162,17,22,18950
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

In [22]:
car.info() # to show data type of col and details of this data 250 records ,object means string

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [23]:
#to check null values in dataset for use inbuilt fucntion isnull() /false : no null
car.isnull()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [24]:
#to check null values in dataset for use inbuilt fucntion isnull()
car.isnull().sum() # to check how much all null value  in all col

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [25]:
car.shape # inbuilt method ,to show how much row and col(row=250,col=15),() not use coz we no need to paas any arguement

(205, 15)

In [26]:
car.describe() # to aplly statistic function to all numeric datatype column

,symboling,width,height,engine-size,city-mpg,highway-mpg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,65.907805,53.724878,126.907317,25.219512,30.751220,13227.478049
std,1.245307,2.145204,2.443522,41.642693,6.542142,6.886443,7902.651615
min,-2.000000,60.300000,47.800000,61.000000,13.000000,16.000000,5118.000000
25%,0.000000,64.100000,52.000000,97.000000,19.000000,25.000000,7788.000000
50%,1.000000,65.500000,54.100000,120.000000,24.000000,30.000000,10345.000000
75%,2.000000,66.900000,55.500000,141.000000,30.000000,34.000000,16500.000000
max,3.000000,72.300000,59.800000,326.000000,49.000000,54.000000,45400.000000

In [27]:
car["symboling"].describe() # perticular col show

count    205.000000
mean       0.834146
std        1.245307
min       -2.000000
25%        0.000000
50%        1.000000
75%        2.000000
max        3.000000
Name: symboling, dtype: float64

In [28]:
car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.1+ KB

In [29]:
car.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [30]:
car["fuel-type"].unique()  # to show type of car how much type

array(['gas', 'diesel'], dtype=object)

In [31]:
#how many gas fuel type and diesal fuel type car
car["fuel-type"].value_counts()

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [33]:
# To show all details of diesal fuel-type car from data set car
# apply conditional filtering (search)
car["fuel-type"]=="diesel"

0      False
1      False
2      False
3      False
4      False
       ...
200    False
201    False
202    False
203     True
204    False
Name: fuel-type, Length: 205, dtype: bool

In [34]:
car[car["fuel-type"]=="diesel"] # to show all details diesal car from car data set

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
63,0,?,mazda,diesel,sedan,fwd,front,66.5,55.5,ohc,122,64,36,42,10795
66,0,?,mazda,diesel,sedan,rwd,front,66.1,54.4,ohc,134,72,31,39,18344
67,-1,93,mercedes-benz,diesel,sedan,rwd,front,70.3,56.5,ohc,183,123,22,25,25552
68,-1,93,mercedes-benz,diesel,wagon,rwd,front,70.3,58.7,ohc,183,123,22,25,28248
69,0,93,mercedes-benz,diesel,hardtop,rwd,front,70.3,54.9,ohc,183,123,22,25,28176
70,-1,93,mercedes-benz,diesel,sedan,rwd,front,71.7,56.3,ohc,183,123,22,25,31600
90,1,128,nissan,diesel,sedan,fwd,front,63.8,54.5,ohc,103,55,45,50,7099
108,0,161,peugot,diesel,sedan,rwd,front,68.4,56.7,l,152,95,28,33,13200
110,0,?,peugot,diesel,wagon,rwd,front,68.4,58.7,l,152,95,25,25,13860
112,0,161,peugot,diesel,sedan,rwd,front,68.4,56.7,l,152,95,28,33,16900
114,0,?,peugot,diesel,wagon,rwd,front,68.4,58.7,l,152,95,25,25,17075
116,0,161,peugot,diesel,sedan,rwd,front,68.4,56.7,l,152,95,28,33,17950
158,0,91,toyota,diesel,sedan,fwd,front,64.4,53.0,ohc,110,56,34,36,7898
159,0,91,toyota,diesel,hatchback,fwd,front,64.4,52.8,ohc,110,56,38,47,7788
174,-1,65,toyota,diesel,sedan,fwd,front,66.5,54.9,ohc,110,73,30,33,10698
182,2,122,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,52,37,46,7775
184,2,94,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,52,37,46,7995
187,2,94,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,68,37,42,9495
192,0,?,volkswagen,diesel,sedan,fwd,front,66.9,55.1,ohc,97,68,33,38,13845
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470

In [35]:
#To show all details of diesel fuel-type car and city-mpg>30 from data set car
car[(car["fuel-type"]=="diesel") & (car["city-mpg"]>30)]

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
63,0,?,mazda,diesel,sedan,fwd,front,66.5,55.5,ohc,122,64,36,42,10795
66,0,?,mazda,diesel,sedan,rwd,front,66.1,54.4,ohc,134,72,31,39,18344
90,1,128,nissan,diesel,sedan,fwd,front,63.8,54.5,ohc,103,55,45,50,7099
158,0,91,toyota,diesel,sedan,fwd,front,64.4,53.0,ohc,110,56,34,36,7898
159,0,91,toyota,diesel,hatchback,fwd,front,64.4,52.8,ohc,110,56,38,47,7788
182,2,122,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,52,37,46,7775
184,2,94,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,52,37,46,7995
187,2,94,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,68,37,42,9495
192,0,?,volkswagen,diesel,sedan,fwd,front,66.9,55.1,ohc,97,68,33,38,13845

In [36]:
car[(car["fuel-type"]=="diesel") | (car["city-mpg"]>30)] # atlst  one value is   true then display (or |)

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
18,2,121,chevrolet,gas,hatchback,fwd,front,60.3,53.2,l,61,48,47,53,5151
19,1,98,chevrolet,gas,hatchback,fwd,front,63.6,52.0,ohc,90,70,38,43,6295
20,0,81,chevrolet,gas,sedan,fwd,front,63.6,52.0,ohc,90,70,38,43,6575
21,1,118,dodge,gas,hatchback,fwd,front,63.8,50.8,ohc,90,68,37,41,5572
22,1,118,dodge,gas,hatchback,fwd,front,63.8,50.8,ohc,90,68,31,38,6377
24,1,148,dodge,gas,hatchback,fwd,front,63.8,50.6,ohc,90,68,31,38,6229
25,1,148,dodge,gas,sedan,fwd,front,63.8,50.6,ohc,90,68,31,38,6692
26,1,148,dodge,gas,sedan,fwd,front,63.8,50.6,ohc,90,68,31,38,7609
30,2,137,honda,gas,hatchback,fwd,front,63.9,50.8,ohc,92,58,49,54,6479
31,2,137,honda,gas,hatchback,fwd,front,63.9,50.8,ohc,92,76,31,38,6855
32,1,101,honda,gas,hatchback,fwd,front,64.0,52.6,ohc,79,60,38,42,5399
44,1,?,isuzu,gas,sedan,fwd,front,63.6,52.0,ohc,90,70,38,43,10000
45,0,?,isuzu,gas,sedan,fwd,front,63.6,52.0,ohc,90,70,38,43,23000
51,1,104,mazda,gas,hatchback,fwd,front,64.2,54.1,ohc,91,68,31,38,6095
52,1,104,mazda,gas,hatchback,fwd,front,64.2,54.1,ohc,91,68,31,38,6795
53,1,113,mazda,gas,sedan,fwd,front,64.2,54.1,ohc,91,68,31,38,6695
54,1,113,mazda,gas,sedan,fwd,front,64.2,54.1,ohc,91,68,31,38,7395
63,0,?,mazda,diesel,sedan,fwd,front,66.5,55.5,ohc,122,64,36,42,10795
66,0,?,mazda,diesel,sedan,rwd,front,66.1,54.4,ohc,134,72,31,39,18344
67,-1,93,mercedes-benz,diesel,sedan,rwd,front,70.3,56.5,ohc,183,123,22,25,25552
68,-1,93,mercedes-benz,diesel,wagon,rwd,front,70.3,58.7,ohc,183,123,22,25,28248
69,0,93,mercedes-benz,diesel,hardtop,rwd,front,70.3,54.9,ohc,183,123,22,25,28176
70,-1,93,mercedes-benz,diesel,sedan,rwd,front,71.7,56.3,ohc,183,123,22,25,31600
76,2,161,mitsubishi,gas,hatchback,fwd,front,64.4,50.8,ohc,92,68,37,41,5389
77,2,161,mitsubishi,gas,hatchback,fwd,front,64.4,50.8,ohc,92,68,31,38,6189
78,2,161,mitsubishi,gas,hatchback,fwd,front,64.4,50.8,ohc,92,68,31,38,6669
89,1,128,nissan,gas,sedan,fwd,front,63.8,54.5,ohc,97,69,31,37,5499
90,1,128,nissan,diesel,sedan,fwd,front,63.8,54.5,ohc,103,55,45,50,7099
91,1,128,nissan,gas,sedan,fwd,front,63.8,54.5,ohc,97,69,31,37,6649
92,1,122,nissan,gas,sedan,fwd,front,63.8,54.5,ohc,97,69,31,37,6849
93,1,103,nissan,gas,wagon,fwd,front,63.8,53.5,ohc,97,69,31,37,7349
94,1,128,nissan,gas,sedan,fwd,front,63.8,54.5,ohc,97,69,31,37,7299
95,1,128,nissan,gas,hatchback,fwd,front,63.8,53.3,ohc,97,69,31,37,7799
96,1,122,nissan,gas,sedan,fwd,front,63.8,54.5,ohc,97,69,31,37,7499
97,1,103,nissan,gas,wagon,fwd,front,63.8,53.5,ohc,97,69,31,37,7999
98,2,168,nissan,gas,hardtop,fwd,front,63.8,53.3,ohc,97,69,31,37,8249
108,0,161,peugot,diesel,sedan,rwd,front,68.4,56.7,l,152,95,28,33,13200
110,0,?,peugot,diesel,wagon,rwd,front,68.4,58.7,l,152,95,25,25,13860
112,0,161,peugot,diesel,sedan,rwd,front,68.4,56.7,l,152,95,28,33,16900
114,0,?,peugot,diesel,wagon,rwd,front,68.4,58.7,l,152,95,25,25,17075
116,0,161,peugot,diesel,sedan,rwd,front,68.4,56.7,l,152,95,28,33,17950
118,1,119,plymouth,gas,hatchback,fwd,front,63.8,50.8,ohc,90,68,37,41,5572
120,1,154,plymouth,gas,hatchback,fwd,front,63.8,50.6,ohc,90,68,31,38,6229
121,1,154,plymouth,gas,sedan,fwd,front,63.8,50.8,ohc,90,68,31,38,6692
122,1,154,plymouth,gas,sedan,fwd,front,63.8,50.8,ohc,98,68,31,38,7609
138,2,83,subaru,gas,hatchback,fwd,front,63.4,53.7,ohcf,97,69,31,36,5118
141,0,102,subaru,gas,sedan,fwd,front,65.4,52.5,ohcf,108,82,32,37,7126
150,1,87,toyota,gas,hatchback,fwd,front,63.6,54.5,ohc,92,62,35,39,5348
151,1,87,toyota,gas,hatchback,fwd,front,63.6,54.5,ohc,92,62,31,38,6338
152,1,74,toyota,gas,hatchback,fwd,front,63.6,54.5,ohc,92,62,31,38,6488
153,0,77,toyota,gas,wagon,fwd,front,63.6,59.1,ohc,92,62,31,37,6918
158,0,91,toyota,diesel,sedan,fwd,front,64.4,53.0,ohc,110,56,34,36,7898
159,0,91,toyota,diesel,hatchback,fwd,front,64.4,52.8,ohc,110,56,38,47,7788
160,0,91,toyota,gas,sedan,fwd,front,64.4,53.0,ohc,98,70,38,47,7738
174,-1,65,toyota,diesel,sedan,fwd,front,66.5,54.9,ohc,110,73,30,33,10698
182,2,122,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,52,37,46,7775
184,2,94,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,52,37,46,7995
187,2,94,volkswagen,diesel,sedan,fwd,front,65.5,55.7,ohc,97,68,37,42,9495
192,0,?,volkswagen,diesel,sedan,fwd,front,66.9,55.1,ohc,97,68,33,38,13845
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470

In [37]:
#groupby() inbuilt function
#Waht is the sum of Price of car for each category of fuel type?
car.groupby("fuel-type")["price"].sum()

fuel-type
diesel     316763
gas       2394870
Name: price, dtype: int64

In [38]:
car["body-style"].unique()

array(['convertible', 'hatchback', 'sedan', 'wagon', 'hardtop'],
      dtype=object)

In [39]:
#How many cars according to baody-style
car["body-style"].value_counts()

sedan          96
hatchback      70
wagon          25
hardtop         8
convertible     6
Name: body-style, dtype: int64

In [42]:
car.groupby(["body-style","fuel-type"])["price"].sum()

body-style   fuel-type
convertible  gas           131343
hardtop      diesel         28176
             gas           149492
hatchback    diesel          7788
             gas           693318
sedan        diesel        221616
             gas          1170601
wagon        diesel         59183
             gas           250116
Name: price, dtype: int64

#to show maximum width of car
car["width"].max()

In [43]:
#To show record no.of those car  which is maximum width then use idxmax()
car["width"].idxmax()

129

In [44]:
car.iloc[129] #to display particular record no.

symboling                    1
normalized-losses            ?
make                   porsche
fuel-type                  gas
body-style           hatchback
drive-wheels               rwd
engine-location          front
width                     72.3
height                    50.5
engine-type              dohcv
engine-size                203
horsepower                 288
city-mpg                    17
highway-mpg                 28
price                    12000
Name: 129, dtype: object

In [45]:
car["make"].unique()

array(['alfa-romero', 'audi', 'bmw', 'chevrolet', 'dodge', 'honda',
       'isuzu', 'jaguar', 'mazda', 'mercedes-benz', 'mercury',
       'mitsubishi', 'nissan', 'peugot', 'plymouth', 'porsche', 'renault',
       'saab', 'subaru', 'toyota', 'volkswagen', 'volvo'], dtype=object)

In [46]:
car["make"].value_counts()

toyota           32
nissan           18
mazda            17
mitsubishi       13
honda            13
subaru           12
volkswagen       12
peugot           11
volvo            11
dodge             9
mercedes-benz     8
bmw               8
plymouth          7
audi              7
saab              6
porsche           5
isuzu             4
chevrolet         3
jaguar            3
alfa-romero       3
renault           2
mercury           1
Name: make, dtype: int64

In [47]:
car.groupby("make")["price"].sum().sort_values() #ascending order
#sort_values()  inbuilt function , to arrange records in ascending order
#according sum of price of car group by make column

make
mercury           16503
chevrolet         18021
renault           19190
alfa-romero       46495
isuzu             50833
plymouth          55744
dodge             70879
saab              91340
subaru           102495
jaguar           103800
honda            106401
audi             119155
mitsubishi       120117
volkswagen       120930
porsche          137602
peugot           170380
mazda            181099
nissan           187482
volvo            198695
bmw              208950
mercedes-benz    269176
toyota           316346
Name: price, dtype: int64

In [48]:
car.groupby("make")["price"].sum().sort_values(ascending=False)#descending order
#by default ascending =True

make
toyota           316346
mercedes-benz    269176
bmw              208950
volvo            198695
nissan           187482
mazda            181099
peugot           170380
porsche          137602
volkswagen       120930
mitsubishi       120117
audi             119155
honda            106401
jaguar           103800
subaru           102495
saab              91340
dodge             70879
plymouth          55744
isuzu             50833
alfa-romero       46495
renault           19190
chevrolet         18021
mercury           16503
Name: price, dtype: int64

In [49]:
#merge means to join 2 or more dataset
#suppose create first dictionary
d1={"name":["renu","kamal","rohini"],"maths":[34,45,34]}
d2={"name":["renu","kamal","rohini","pankaj"],"science":[46,36,32,30]}

In [50]:
print(d1)

{'name': ['renu', 'kamal', 'rohini'], 'maths': [34, 45, 34]}

In [51]:
print(d2)

{'name': ['renu', 'kamal', 'rohini', 'pankaj'], 'science': [46, 36, 32, 30]}

In [52]:
#convert dictionary d1 and d2 into dataframe 
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)

In [53]:
print(df1)

     name  maths
0    renu     34
1   kamal     45
2  rohini     34

In [54]:
print(df2)

     name  science
0    renu       46
1   kamal       36
2  rohini       32
3  pankaj       30

In [56]:
'''name  maths   science
    renu   34      46
    kamal  45      36
    rohini 34      32
    pankaj         30'''
#merge both dataframe df1 and df2 , merge() inbuilt function of pandas
#Equal join means Equal merge
pd.merge(df1,df2,on="name")   #pd.merge(df1,df2) we also write like this this take common value in one col

     name  maths  science
0    renu     34       46
1   kamal     45       36
2  rohini     34       32

In [57]:
#outer merge
pd.merge(df1,df2,on="name",how="outer") #NaN means null values

     name  maths  science
0    renu   34.0       46
1   kamal   45.0       36
2  rohini   34.0       32
3  pankaj    NaN       30

In [58]:
#outer merge
result=pd.merge(df1,df2,on="name",how="outer") #NaN means null values

In [59]:
print(result)

     name  maths  science
0    renu   34.0       46
1   kamal   45.0       36
2  rohini   34.0       32
3  pankaj    NaN       30

In [60]:
#To check null values in dataframe result
result.isnull().sum()

name       0
maths      1
science    0
dtype: int64

In [63]:
result["maths"].fillna(result["maths"].mean(),inplace=True)
#fill the marks of maths of last student of mean value of maths column
#permanently means inplace=True

In [64]:
result

     name      maths  science
0    renu  34.000000       46
1   kamal  45.000000       36
2  rohini  34.000000       32
3  pankaj  37.666667       30

In [65]:
#to change the datatype of maths column from float to int
result["maths"]=result["maths"].astype("int")

In [66]:
result

     name  maths  science
0    renu     34       46
1   kamal     45       36
2  rohini     34       32
3  pankaj     37       30

In [75]:
#append : to add new record in existing dataframe
#suppose create first dictionary
d1={"name":["renu","kamal","rohini"],"maths":[34,45,34]}

In [78]:
#convert dictionary d1  into dataframe 
df1=pd.DataFrame(d1)
print(df1)

     name  maths
0    renu     34
1   kamal     45
2  rohini     34

In [77]:
#suppose create second dictionary
d2={"name":["suresh","urmila","ram","sohan"],"maths":[34,45,34,47]}
#convert dictionary d2  into dataframe df2
df2=pd.DataFrame(d2)
print(df1)

     name  maths
0    renu     34
1   kamal     45
2  rohini     34

In [81]:
#We use append()
df1.append(df2)
df3=df1.append(df2,ignore_index=True) # index come 012012 if we need 123456
df3

     name  maths
0    renu     34
1   kamal     45
2  rohini     34
3  suresh     34
4  urmila     45
5     ram     34
6   sohan     47

In [82]:
#concatenate function
#create first dictionary :
d1={'name':['rekah','suresh','deepak'],'age':[23,21,25]}

In [ ]:
#create second dictionary
d2={'city':['Bhopal','Indore','Delhi'],
    'mobile':[9827652345,9876543212,9876547897]}

In [83]:
#convert dictionary d1 and d2  into dataframe df1,df2
df1=pd.DataFrame(d1)
df2=pd.DataFrame(d2)
print(df1)

     name  age
0   rekah   23
1  suresh   21
2  deepak   25

In [84]:
print(df2)

     name  maths
0  suresh     34
1  urmila     45
2     ram     34
3   sohan     47

In [85]:
''' name  age  city  mobile'''
#concat() means to join 2 data frame column wise means axis=1
df3=pd.concat([df1,df2],axis=1)
print(df3)

     name   age    name  maths
0   rekah  23.0  suresh     34
1  suresh  21.0  urmila     45
2  deepak  25.0     ram     34
3     NaN   NaN   sohan     47